* {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sidebar {
    display: block;
    height: 100%;
    width: 300px;
    background-color: #fff;
    border-right: 2px solid grey;
}

.main {
    display: block;
    height: 100%;
    background-color: #ccc;
    width: calc(100% - 300px);
}

.header{
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 30px;
}

.main-content{
    height: auto;
}